{% if page > 1 and news %}
    <div class="card mb-3">
        {% if path and path != None%}
        <a href="/{{ path }}/page/{{ page-1 }}" class="btn btn-primary">Предыдущая страница</a>
        <a href="/{{ path }}/page/{{ page+1 }}" class="btn btn-primary">Следующая страница</a>
        {% else %}
        <a href="/page/{{ page-1 }}" class="btn btn-primary">Предыдущая страница</a>
        <a href="/page/{{ page+1 }}" class="btn btn-primary">Следующая страница</a>
        {% endif %}
    </div>
{% elif not news%}
    <div class="card mb-3">
        {% if path and path != None and page > 1 %}
        <a href="/{{ path }}/page/{{ page-1 }}" class="btn btn-primary">Предыдущая страница</a>
        {% elif page > 1 %}
        <a href="/page/{{ page-1 }}" class="btn btn-primary">Предыдущая страница</a>
        {% endif %}
    </div>
{% else %}
    <div class="card mb-3">
        {% if path and path != None%}
        <a href="/{{ path }}/page/{{ page+1 }}" class="btn btn-primary">Следующая страница</a>
        {% else %}
        <a href="/page/{{ page+1 }}" class="btn btn-primary">Следующая страница</a>
        {% endif %}
    </div>
{% endif %}
  